name: Linux build and test
on:
  push:
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        test-config:
          - name: "Debug - Build and test"
            command: "test"
          - name: "Debug - Build and test ffi"
            command: "test-ffi"
          - name: "ReleaseFast - Build and test"
            command: "test-release-fast"
          - name: "ReleaseFast - Build and test ffi"
            command: "test-ffi-release-fast"
      # Run all matrix jobs in parallel
      fail-fast: false
    
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/flakehub-cache-action@main
      - uses: DeterminateSystems/flake-checker-action@main
      
      - name: ${{ matrix.test-config.name }}
        run: |
          nix run .#${{ matrix.test-config.command }} -- --progress
